
/* ScriptCards */
.script-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.script-card {
  position: relative;
  width: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 150px; /* Ensure this matches the height of the .card-img-top */
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white !important; /* Set text color to white and ensure it overrides other styles */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important; /* Enhance text shadow for better visibility and ensure it overrides */
  text-align: center;
  background-color: transparent !important; /* Make background transparent and ensure it overrides */
  padding: 10px 0;
  margin: 0;
  z-index: 5; /* Lower than icon to keep text behind the icon */
}

.github-icon-link {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  width: 24px; /* Smaller size */
  height: 24px; /* Smaller size */
  z-index: 10; /* Ensure it's above other elements */
}

.github-icon {
  width: 100%;
  height: auto;
  display: block; /* Ensures the image scales correctly */
}

.btn-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px; /* Ensure bottom corners are rounded */
  border-bottom-right-radius: 10px; /* Ensure bottom corners are rounded */
}
